<div class="container">
  <form>
    <mat-form-field class="formField">
      <mat-label>Ingrese la Url (Original)</mat-label>
      <input matInput placeholder="Ex. www.google.com" value="">
    </mat-form-field>
    <div class="buttonArea">
      <button mat-flat-button>Enviar</button>
      <button mat-stroked-button>Limpiar</button>
    </div>
  </form>

  <mat-form-field class="formFieldResult">
    <mat-label>Url recortada</mat-label>
    <input matInput readonly value="https://tinyurl.com/AwEjs2">
  </mat-form-field>
</div>
